# 项目整体原则
## 项目基础信息
1. 项目的目标是制作一个基于python语言的桌面客户端工具，输入多个设备的坐标位置，然后绘制覆盖图和计算角度和距离。

## 目录结构
1. 所有代码都放在/dev目录中；所有代码都使用中文注释；
2. 所有项目进行过程中撰写的文档，都放入/docs目录中；这个目录中的所有文档，都使用markdown格式；
3. 所有测试脚本，测试临时数据，测试方案和测试总结文档都放入/tests目录中；
4. 所有参考代码和文档都放入/ref目录中；这个目录中的文档不允许任何修改和调整；
5. 如果开发过程中有任何需要输出到本地文件的，都输出到/output目录中。


## 文档管理
1. 项目需要有架构设计文档，架构设计文档要放在/docs目录中，架构设计文档使用markdown格式；
2. 项目需要有都要需求说明文档，需求说明文档要放在/docs目录中，功能设计文档使用markdown格式；
3. 项目需要有UI设计说明文档，UI设计说明文档要放在/docs目录中，UI设计说明文档使用markdown格式；
4. 项目需要有项目管理（含开发计划）文档，要放在/docs目录中，项目管理文档使用markdown格式。
5. 每次完成开发任务后，都要更新项目管理文档，并更新架构设计文档、需求说明文档和UI设计说明文档。
6. 本项目中架构设计文档，需求说明文档，UI设计说明文档以及项目管理文档，这四个文档是重要文档，可以在文档前增加项目前缀："Appliance-coodinates-GUI-V1-"。


## 开发管理
1. 所有开发都以开发计划为依据，每次开发时只专注于一个开发任务，完成一个开发任务后，再进行下一个开发任务。
2. 每次在获得批准开始新的代码开发时，都先评估过去3天的开发是否已完成测试流程，并有输出测试总结；
3. 每次在做新的开发时，如果发现需要改动当前开发任务以外的代码时，先向用户提出你的修改意见，并等待用户批准；
4. 每次完成本次开发任务后，都要进行文档中约定好的测试，然后向用户提交本次开发任务的测试总结，并等待用户批准。


## 开发环境 —— Python版
1. 项目整体用python语言开发，尽量使用官方提供的标准库实现；
2. python语言的版本为3.12；
3. 对于macOS系统，当使用python命令时，默认使用python3；对于Windows系统，当使用python命令时，默认使用python。
3. 项目整体使用pipenv管理依赖。