[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = ">=10.0.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.12" 